<section id="aboutus" class="section">
<div class="container" >
  <div class="section-header">
    <h2 class="section-title" style="color: white">Our Team</h2>

    <p class="section-subtitle" style="color: white">The Research work and the EduBot application was designed and developed by</p>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12">
      <div class="single-team">
        <img width="240px" height="280px" src="../../../../../../assets/image/team/Atheeq.jpg" alt="">
        <div class="team-details">
          <div class="team-inner">
            <h4 class="team-title">Atheeq Mahroof</h4>
            <p>Software Engineering Undergraduate<br>SLIIT</p>
            <ul class="social-list">
              <li class="email"><a href="mailto:atheeqrc@gmail.com"><b>G</b></a></li>
              <li class="facebook"><a href="https://www.facebook.com/atheeq.mahroof" target="_blank"><b>F</b></a></li>
              <li class="linkedin"><a href="https://www.linkedin.com/in/atheeqmahroof/" target="_blank"><b>Li</b></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
      <div class="single-team">
        <img width="240px" height="280px" src="../../../../../../assets/image/team/Vinu.jpg" alt="">
        <div class="team-details">
          <div class="team-inner">
            <h4 class="team-title">Vinu Gamage</h4>
            <p>Software Engineering Undergraduate<br>SLIIT</p>
            <ul class="social-list">
              <li class="email"><a href="mailto:sahanigamage@gmail.com"><b>G</b></a></li>
              <li class="linkedin"><a href="https://www.linkedin.com/in/vinu-gamage-190a80148/" target="_blank"><b>Li</b></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
      <div class="single-team">
        <img width="240px" height="280px" src="../../../../../../assets/image/team/Karthiga.jpg" alt="">
        <div class="team-details">
          <div class="team-inner">
            <h4 class="team-title">Karthiga Rajendran</h4>
            <p>Software Engineering Undergraduate<br>SLIIT</p>
            <ul class="social-list">
              <li class="email"><a href="mailto:rkarthi.20118@gmail.com"><b>G</b></a></li>
              <li class="facebook"><a href="https://www.facebook.com/karthi.rajendran.961" target="_blank"><b>F</b></a></li>
              <li class="linkedin"><a href="https://www.linkedin.com/in/karthiga-rajendran-6492b3171/" target="_blank"><b>Li</b></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
      <div class="single-team">
        <img width="240px" height="280px" src="../../../../../../assets/image/team/Satygit.jpg" alt="">
        <div class="team-details">
          <div class="team-inner">
            <h4 class="team-title">Satyagit Rajkumar</h4>
            <p>Software Engineering Undergraduate<br>SLIIT</p>
            <ul class="social-list">
              <li class="email"><a href="mailto:grsatyagit@gmail.com"><b>G</b></a></li>
              <li class="facebook"><a href="https://www.facebook.com/grsatyagit/" target="_blank"><b>F</b></a></li>
              <li class="linkedin"><a href="https://www.linkedin.com/in/satyagit-rajkumar/" target="_blank"><b>Li</b></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="section-header">
    <h2 class="section-title" style="color: white">Our Supervisors</h2>

    <p class="section-subtitle" style="color: white">All guidance for this research project is given by</p>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-0 col-xs-0">
    </div>
    <div class="col-lg-3 col-md-8 col-xs-12">
      <div class="single-team">
        <img src="../../../../../../assets/image/team/Samantha%20Rajapaksha.jpg" height="280px" width="240px">
        <div class="team-details">
          <div class="team-inner">
            <h4 class="team-title">Mr. Samantha Rajapaksha</h4>
            <p>MSc Coordinator (IT) / Senior Lecturer<br>SLIIT</p>
            <ul class="social-list">
              <li class="email"><a href="mailto:samantha.r@sliit.lk "><b>G</b></a></li>
              <li class="facebook"><a href="https://www.facebook.com/samantharajapakshauu" target="_blank"><b>F</b></a></li>
              <li class="linkedin"><a href="https://www.linkedin.com/in/samantha-rajapaksha-528657b/" target="_blank"><b>Li</b></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
      <div class="single-team">
        <img src="../../../../../../assets/image/team/Dinuka%20Wijendra.jpg" height="280px" width="240px">
        <div class="team-details">
          <div class="team-inner">
            <h4 class="team-title">Ms. Dinuka Wijendra</h4>
            <p>Lecturer<br>SLIIT</p>
            <ul class="social-list">
              <li class="email"><a href="mailto:dinuka.w@sliit.lk"><b>G</b></a></li>
              <li class="facebook"><a href="https://www.facebook.com/profile.php?id=100004441096556" target="_blank"><b>F</b></a></li>
              <li class="linkedin"><a href="https://www.linkedin.com/in/dinuka-wijendra-62835a78/" target="_blank"><b>Li</b></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-0 col-xs-0">
    </div>
  </div>
</div>
</section>
