<div style ="margin-left: 10px;margin-right: 200px">
  <link rel = stylesheet href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="headerClass">
    <div class="data-display">
      <div class="data" *ngIf="viewData">
        <h1>Grade 10</h1>
        <ul>
<!--          <li class="chapter-selector" (click) = "retrieveChapter()"></li>-->
<!--          <li class="chapter-selector" (click) = "retrieveChapter()"></li>-->
<!--          <li class="chapter-selector" (click) = "retrieveChapter()"></li>-->
<!--          <li class="chapter-selector" (click) = "retrieveChapter()"></li>-->
        </ul>
        <br>
        <h1>Grade 11</h1>
        <ul>
          <li class="chapter-selector" (click) = "retrieveChapter(11,3)">Mixtures</li>
          <li class="chapter-selector" (click) = "retrieveChapter(11,7)">Acids, bases and salts</li>
          <li class="chapter-selector" (click) = "retrieveChapter(11,8)">Heat changes associated with chemical reactions</li>
          <li class="chapter-selector" (click) = "retrieveChapter(11,12)">Electrochemistry</li>
          <li class="chapter-selector" (click) = "retrieveChapter(11,14)">Hydrocarbons and Their Derivatives</li>
        </ul>
      </div>
      <div *ngFor="let data of displayData; let i = index">
        <h1 class="section">{{displayData[i].sectionName}}</h1>
        <h1 class="section">{{displayData[i].name}}</h1>
        <div class="data-display" [innerHTML]=displayData[i].content></div>
        <div class="data-display" [innerHTML]=displayData[i].html_text></div>
      </div>
      <div *ngIf="!viewData">
        <img class ="back-button" (click)="back()" src="../../assets/image/back_button.png">
      </div>
    </div>
  </div>
  <input class ="open-button" type="image" src="../../assets/image/chatImage/chatImage.png"  *ngIf="!myForm" alt="" (click)="openForm()"/>
  <div class="chat-bot-container" *ngIf="myForm">
    <div class="chat-page" style="background-color: #002542">
      <div class="msg-header">
        <span class="input-group-text"><i class="fa fa-times fa-2x" (click)="closeForm()"></i></span>
        <div class="msg-header-img">
          <img src="../../assets/image/chatImage/chatImage.png">
        </div>
        <div class="active">
          <h4>EduBot</h4>
          <h6><img class="chat-active" src="../../assets/image/chatImage/chat-active-icon.png"> active now</h6>
        </div>
      </div>
      <div class="msg-inbox">
        <div class="chats">
          <div #scrollMe class="msg-page">
            <!--            repeat-->
            <div *ngFor="let i=index;let message of messages">
              <div *ngIf="messages[i].userType == 'bot'">
                <div class="received-chats">
                  <div class="received-msg">
                    <img class="received-chats-img" src="../../assets/image/chatImage/chatImage.png">
                    <div class="received-msg-inbox">
                      <p *ngIf="messages[i].dataType == 'textContent'" style="margin-bottom: 5px">{{messages[i].dataTitle}}</p>
                      <p>{{messages[i].userMsg}}</p>
                      <span class="time">{{message.date | date:'medium'}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="messages[i].userType == 'user'">
                <div class="outgoing-chats">
                  <div class="outgoing-chats-msg">
                    <!--                  <div class="outgoing-msg-inbox">-->
                    <p>{{messages[i].userMsg}}</p>
                    <span class="time">{{message.date | date:'medium'}}</span>
                    <!--                  </div>-->
                  </div>
                  <!--                  <img class="outgoing-chats-img" src="../../assets/image/chatImage/user-icon.jpg">-->
                </div>
              </div>
            </div>
            <div class="typing" *ngIf="typing" style="margin-left: 35px;">
              <img src="../../assets/image/typing.gif">
            </div>
          </div>
        </div>
      </div>
      <div class="msg-bottom">
        <div class="bottom">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="data" (keydown.enter)='input()' placeholder="Type your message here.">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-paper-plane fa-2x" (click)="input()"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
